{% extends 'base.html' %} {% block title %} Home {% endblock %}
<!-- content -->
{% block content %}

<div class="img-prediction flex lg:flex-row  flex-col md:flex-col gap-10  p-5">
  <div class="prediction-box w-full">
    <div class="img-select-box w-min">
      <div class="img-select-title w-max pr-4 pl-4">Potato Disease Classifier</div>
      <div class="dividerbypx"></div>
      <form action="/prediction" method="post" enctype="multipart/form-data" id="myForm">
        <div class="img-select-file-choose">
          <input
            type="file"
            name="file"
            class="form-control"
            aria-describedby="basic-addon2"
            required
            id="fileInput"
          />
          <label for="fileInput" class="file-label"><i class="fa-solid fa-cloud-arrow-up"></i></label>
          <label for="fileInput" class="file-label1">Choose a Image</label>
        </div>
        <div class="img-select-button"><button type="submit" id="predictButton">
          <div class="img-select-btn">Predict &nbsp;-></div></button>
        </div>
      </form>
    </div>
  </div>

  <div class="prediction-box w-full " id="result-img-box">
    <div class="img-select-box w-min">
     
      <div class="img-select-title  w-max pr-4 pl-4  ">Potato Leaf for Diagnosis</div>
      <div class="dividerbypx"></div>
      {% if input_img %}
      <img
        width="300px"
        height="300px"
        class="img-fluid"
        src="{{ url_for('static', filename='uploads/'+input_img) }}"
      />
      {% endif %}
        <div class="img-select-button">
          <button id="viewSolutionBtn"
          ><a href="#popupContainer" class="hover:no-underline">
          <div class="img-select-btn">View Solution &nbsp;-></div></a></button>
          
<div id="popupContainer" class="popupContainer">
  <div id="popupContent" class="popupContent" style="text-align: justify;">
    <h1 >Solution for Potato Diseases will Provided Soon</h1>
    
   
    <button id="closePopupBtn">Close</button>
  </div>
</div>

        </div>
      
    </div>
  </div>

  <div class="prediction-box w-full" id="result-box">
    <div class="img-result-box w-min">
      <div class=" img-result-title w-max pr-4 pl-4  "> Leafs Processed Results : </div>
      
      <div class="img-result-result">
        
        
          {% if pred_img %}
          <img
            class="img-fluid1"
            src="{{ url_for('static', filename='uploads/'+pred_img) }}"
          />
          {% endif %}
        
      </div>

    </div>
    </div>
  </div>

  
</div>


{% endblock %}
